LINE_CHANNEL_ACCESS_TOKEN=put_your_channel_access_token_here
LINE_CHANNEL_SECRET=put_your_channel_secret_here
PORT=3000
GOOGLE_REVIEW_URL=https://movekub.com
FACEBOOK_REVIEW_URL=https://facebook.com/movekub
